/*Page Style @1-71C46106*/
#smart_faultyequipmenteqpmt_serialnumber_choices {
    position: absolute;
}
#smart_faultyequipmenteqpmt_serialnumber_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#smart_faultyequipmenteqpmt_serialnumber_choices ul li.selected { background-color: #aaa;}
#smart_faultyequipmenteqpmt_serialnumber_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

