/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorAustereButton {
	background-color: #bdbdbd;
	}

.FormTitleBgColorAustereButton {
	background-color: #2a7893;
	}

.FormTitleFontColorAustereButton {
	color: #f4f4f4;
	}

.CaptionBgColorAustereButton {
	background-color: #afc0c4;
	}

.CaptionFontColorAustereButton {
	color: #23647a;
	}

.DataBgColorAustereButton {
	background-color: #f4f4f4;
	}

.AltDataBgColorAustereButton {
	background-color: #e7e7e7;
	}

.DataFontColorAustereButton {
	color: #2a7893;
	}

.LinkColorAustereButton {
	color: #0000f7;
	}

.VisitedLinkColorAustereButton {
	color: #2a7893;
	}

.HoverLinkColorAustereButton {
	color: #dd1396;
	}

.ColorBgButtonAustereButton {
	background-color: #2a7893;
}

.ColorFontButtonAustereButton {
	color: #f4f4f4;
}

.ColorBgButtonPassiveAustereButton {
	background-color: #75b6cd;
}

.ColorFontButtonPassiveAustereButton {
	color: #fcfcfc;
}



.HeaderAustereButton {
	width: 100%;
	}

.HeaderAustereButton th { 
	font-family: Arial; font-size: 90%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #f4f4f4;
	width: 100%;
	white-space: nowrap;
	
	}


html>body .HeaderAustereButton th {
	font-family: Arial; font-size: 130%; font-weight: bold; text-align: center !important;
}


/*ie6*/
* html body .HeaderAustereButton th {
	font-family: Arial; font-size: 130%; font-weight: bold; text-align: center !important;
}
/*end*/

.HeaderAustereButton a:link { 
	color: #f4f4f4;
	}

.HeaderAustereButton a:visited { 
	color: #f4f4f4;
	}

.HeaderAustereButton a:hover, .CaptionAustereButton a:active { 
	color: #f4f4f4; text-decoration: none;
	}

.HeaderLeftAustereButton { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightAustereButton { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftAustereButton img{
	width: 9px;
	}

.HeaderRightAustereButton img{
	width: 9px;
	}


/* Grid Options */
.GridAustereButton { 
	
	width: 100%;
	}

.CaptionAustereButton th { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #afc0c4; color: #23647a;
	white-space: nowrap;
	}

.CaptionAustereButton td { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #afc0c4; color: #23647a;
	white-space: nowrap;
	}


html>body .CaptionAustereButton th, html>body .CaptionAustereButton td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionAustereButton th, * html body .CaptionAustereButton td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionAustereButton a:link { 
	color: #23647a;
	}

.CaptionAustereButton a:visited { 
	color: #23647a;
	}

.CaptionAustereButton a:hover, .CaptionAustereButton a:active { 
	color: #dd1396;
	}

.CaptionAustereButton img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionAustereButton input {
	vertical-align: middle;
	}

.RowAustereButton th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
	}

.RowAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #2a7893;
	}
	

html>body .RowAustereButton th, html>body .RowAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .RowAustereButton th, * html body .RowAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowAustereButton { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #2a7893;
	}


html>body caption.RowAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body caption.RowAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowAustereButton a:link { 
	color: #0000f7;
	}

.RowAustereButton a:visited { 
	color: #2a7893;
	}

.RowAustereButton a:hover, .RowAustereButton a:active { 
	color: #dd1396;
	}

.SeparatorAustereButton{
	color: #2a7893;
	}

.SeparatorAustereButton td{
	height: 1px;
	}


.AltRowAustereButton th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
	}

.AltRowAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #e7e7e7; 
	color: #2a7893;
	}


html>body .AltRowAustereButton th, html>body .AltRowAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .AltRowAustereButton th, * html body .AltRowAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowAustereButton a:link { 
	color: #0000f7;
	}

.AltRowAustereButton a:visited { 
	color: #2a7893;
	}

.AltRowAustereButton a:hover, .AltRowAustereButton a:active { 
	color: #dd1396;
	}

.NoRecordsAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	background-color: #f4f4f4; 
	color: #2a7893;
	vertical-align: top;
	}

.FooterAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	
	background-color: #f4f4f4; color: #2a7893;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #2a7893;
	}


html>body .NoRecordsAustereButton td, html>body .FooterAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .NoRecordsAustereButton td, * html body .FooterAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterAustereButton a:link { 
	color: #0000f7;
	}

.FooterAustereButton a:visited { 
	color: #2a7893;
	}

.FooterAustereButton a:hover, .FooterAustereButton a:active { 
	color: #dd1396;
	}

.FooterAustereButton img {
	margin: 2px; 
	vertical-align: middle;
	}

.FooterAustereButton input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordAustereButton { 
	
	width: 100%;
	}

.ErrorAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f4f4f4; 
	}


* html>body .ErrorAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ErrorAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsAustereButton th { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
	}

.ControlsAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	background-color: #f4f4f4; 
	color: #2a7893;
	}
	
.BottomAustereButton td { 
	font-family: Arial; font-size: 70%;
	padding: 2px;
	
	background-color: #f4f4f4; color: #2a7893;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #2a7893;
	}


html>body .ControlsAustereButton th, html>body .ControlsAustereButton td, html>body .BottomAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .ControlsAustereButton th, * html body .ControlsAustereButton td, * html body .BottomAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomAustereButton a:link { 
	color: #0000f7;
	}

.BottomAustereButton a:visited { 
	color: #2a7893;
	}

.BottomAustereButton a:hover, .CaptionAustereButton a:active { 
	color: #dd1396;
	}

.BottomAustereButton img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomAustereButton input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionAustereButton th{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7e7e7; 
	color: #2a7893;
	}

.GroupCaptionAustereButton td{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f4f4f4; 
	color: #2a7893;
	}


html>body .GroupCaptionAustereButton th, html>body .GroupCaptionAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupCaptionAustereButton th, * html body .GroupCaptionAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionAustereButton a:link {
	color: #23647a;
	}

.GroupCaptionAustereButton a:visited{
	color: #23647a;
	}

.GroupCaptionAustereButton a:hover, .GroupCaptionAustereButton a:active{
	color: #dd1396;
	}

.GroupFooterAustereButton td{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #afc0c4; 
	color: #2a7893;
	}


html>body .GroupFooterAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .GroupFooterAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterAustereButton a:link {
	color: #0000f7;
	}

.GroupFooterAustereButton a:visited{
	color: #2a7893;
	}

.GroupFooterAustereButton a:hover, .GroupFooterAustereButton a:active{
	color: #dd1396;
	}

.GroupFooterAustereButton img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterAustereButton input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalAustereButton td{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7e7e7; 
	color: #2a7893;
	border-bottom: 2px solid #2a7893;
	}


html>body .SubTotalAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .SubTotalAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalAustereButton a:link {
	color: #0000f7;
	}

.SubTotalAustereButton a:visited{
	color: #2a7893;
	}

.SubTotalAustereButton a:hover, .SubTotalAustereButton a:active{
	color: #dd1396;
	}

.TotalAustereButton td{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e7e7e7; 
	color: #2a7893;
	}


html>body .TotalAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .TotalAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalAustereButton a:link {
	color: #0000f7;
	}

.TotalAustereButton a:visited{
	color: #2a7893;
	}

.TotalAustereButton a:hover, .TotalAustereButton a:active{
	color: #dd1396;
	}

/* Form Options */
.ButtonAustereButton { 
	background-color: #2a7893; color: #f4f4f4; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 10px; font-weight: bold;
	}

/* Calendar */

.CalendarAustereButton { 
	
	width: 100%;
	}

.CalendarWeekdayNameAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e7e7e7; 
	color: #2a7893;
	font-weight: normal;
	}


html>body .CalendarWeekdayNameAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekdayNameAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNameAustereButton a:link {
	color: #0000f7;
	}

.CalendarWeekdayNameAustereButton a:visited{
	color: #2a7893;
	}

.CalendarWeekdayNameAustereButton a:hover, .CalendarWeekdayNameAustereButton a:active{
	color: #dd1396;
	}

.CalendarWeekendNameAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e7e7e7;	
	color: #2a7893;
	font-weight: normal;
	}


html>body .CalendarWeekendNameAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendNameAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNameAustereButton a:link {
	color: #23647a;
	}

.CalendarWeekendNameAustereButton a:visited{
	color: #23647a;
	}

.CalendarWeekendNameAustereButton a:link, .CalendarWeekendNameAustereButton a:visited{
	color: #dd1396;
	}

/* Calendar Day */
.CalendarDayAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f4f4f4;	
	color: #2a7893;
	}


html>body .CalendarDayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarDayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayAustereButton a:link {
	color: #0000f7;
	}

.CalendarDayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarDayAustereButton a:hover, .CalendarDayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Weekend */
.CalendarWeekendAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #e7e7e7;	
	color: #2a7893;
	}


html>body .CalendarWeekendAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendAustereButton a:link {
	color: #0000f7;
	}

.CalendarWeekendAustereButton a:visited{
	color: #2a7893;
	}

.CalendarWeekendAustereButton a:hover, .CalendarWeekendAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Today */
.CalendarTodayAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 0px;
	border: 2px solid #2a7893;
	text-align: center;
	background-color: #f4f4f4;	
	color: #2a7893;
	}


html>body .CalendarTodayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarTodayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayAustereButton a:link {
	color: #0000f7;
	}

.CalendarTodayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarTodayAustereButton a:hover, .CalendarTodayAustereButton a:active {
	color: #dd1396;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 0px;
	border: 2px solid #2a7893;
	text-align: center;
	background-color: #e7e7e7;	
	color: #2a7893;
	}


html>body .CalendarWeekendTodayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarWeekendTodayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayAustereButton a:link {
	color: #0000f7;
	}

.CalendarWeekendTodayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarWeekendTodayAustereButton a:hover, .CalendarWeekendTodayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #f4f4f4;	
	color: #2a7893;
	}


html>body .CalendarOtherMonthDayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthDayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayAustereButton a:link {
	color: #2a7893;
	}

.CalendarOtherMonthDayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarOtherMonthDayAustereButton a:hover, .CalendarOtherMonthDayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 0px;
	border: 2px solid #2a7893;
	text-align: center;
	background-color: #f4f4f4;	
	color: #2a7893;
	}


html>body .CalendarOtherMonthTodayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthTodayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayAustereButton a:link {
	color: #2a7893;
	}

.CalendarOtherMonthTodayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarOtherMonthTodayAustereButton a:hover, .CalendarOtherMonthTodayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: center;
	background-color: #e7e7e7;	
	color: #2a7893;
	}


html>body .CalendarOtherMonthWeekendAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendAustereButton a:link {
	color: #2a7893;
	}

.CalendarOtherMonthWeekendAustereButton a:visited{
	color: #2a7893;
	}

.CalendarOtherMonthWeekendAustereButton a:hover, .CalendarOtherMonthWeekendAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 0px;
	border: 2px solid #2a7893;
	text-align: center;
	color: #2a7893;
	background-color: #e7e7e7;	
	}
	

html>body .CalendarOtherMonthWeekendTodayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayAustereButton a:link {
	color: #2a7893;
	}

.CalendarOtherMonthWeekendTodayAustereButton a:visited{
	color: #2a7893;
	}

.CalendarOtherMonthWeekendTodayAustereButton a:hover, .CalendarOtherMonthWeekendTodayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayAustereButton{
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #afc0c4;
	color: #23647a;
	text-align: center;
	font-weight: bold;
	}
	

html>body .CalendarSelectedDayAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarSelectedDayAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayAustereButton a:link {
	color: #23647a;
	}

.CalendarSelectedDayAustereButton a:visited{
	color: #23647a;
	}

.CalendarSelectedDayAustereButton a:hover, .CalendarSelectedDayAustereButton a:active{
	color: #dd1396;
	}

/* Calendar Navigator */
.CalendarNavigatorAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	background-color: #f4f4f4; color: #2a7893;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #2a7893;
	}


html>body .CalendarNavigatorAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorAustereButton a:link {
	color: #0000f7;
	}

.CalendarNavigatorAustereButton a:visited{
	color: #2a7893;
	}

.CalendarNavigatorAustereButton a:hover, .CalendarNavigatorAustereButton a:active{
	color: #dd1396;
	}

.CalendarNavigatorAustereButton img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorAustereButton td {
	font-family: Arial; font-size: 70%;
	}

.CalendarNavigatorAustereButton th {
	font-family: Arial; font-size: 70%;
	}


html>body .CalendarNavigatorAustereButton th, html>body .CalendarNavigatorAustereButton td {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarNavigatorAustereButton th, * html body .CalendarNavigatorAustereButton td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventAustereButton{
	font-family: Arial; font-size: 70%;
	text-align: left;
	}


html>body .CalendarEventAustereButton {
	font-family: Arial; font-size: 100%;
}


/*ie6*/
* html body .CalendarEventAustereButton {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventAustereButton a:link {
	color: #0000f7;
	}

.CalendarEventAustereButton a:visited{
	color: #2a7893;
	}

.CalendarEventAustereButton a:hover, .CalendarEventAustereButton a:active{
	color: #dd1396;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thAustereButton { 
	font-family: Arial; font-size: 70%;
	font-weight: bold;
}


html>body .thAustereButton {
	font-size: 100%;
}


/*ie6*/
* html body .thAustereButton {
	font-size: 100%;
}
/*end*/

.HeaderAustereButton .thAustereButton { 
	font-family: Arial; font-size: 90%; font-weight: bold; text-align: center !important;
	padding: 2px;
	background-image: url('Images/HeaderBg.gif');  color: #f4f4f4;
	width: 100%;
	white-space: nowrap;
}


html>body .HeaderAustereButton .thAustereButton {
	font-family: Arial; font-size: 130%; font-weight: bold; text-align: center !important;
}


/*ie6*/
* html body .HeaderAustereButton .thAustereButton {
	font-family: Arial; font-size: 130%; font-weight: bold; text-align: center !important;
}
/*end*/

.CaptionAustereButton .thAustereButton { 
	font-family: Arial; font-size: 70%; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #afc0c4; color: #23647a;
	white-space: nowrap;
}


html>body .CaptionAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .CaptionAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowAustereButton .thAustereButton { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
}

.AltRowAustereButton .thAustereButton { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
}

.ControlsAustereButton .thAustereButton { 
	font-family: Arial; font-size: 70%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	background-color: #f4f4f4; color: #2a7893;
	white-space: nowrap;
	color: #2a7893;
}

.GroupCaptionAustereButton .thAustereButton {
	font-family: Arial; font-size: 70%;
	padding: 2px;
	border-bottom: solid 2px #FFFFFF;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #e7e7e7; 
	color: #2a7893;
}


html>body .GroupCaptionAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%;
}

html>body .RowAustereButton .thAustereButton, html>body .AltRowAustereButton .thAustereButton, html>body .ControlsAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}


/*ie6*/
* html body .GroupCaptionAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%;
}

* html body .RowAustereButton .thAustereButton, * html body .AltRowAustereButton .thAustereButton, * html body .ControlsAustereButton .thAustereButton {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuAustereButton td {
	font-family: Arial; font-size: 70%;
}


html>body .simpleMenuAustereButton td {
	font-family: Arial; font-size: 100%;
} 


/*ie6*/
* html body .simpleMenuAustereButton td {
	font-family: Arial; font-size: 100%;
} 
/*end*/
